@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #191919;
  --brand: #FFC100;
  --dark: #121113;
  --light: #fdfdfd;
  --opaque:#19191979;
  --bg-dark: #131313;
  --alert: #BB342F

}

* {
  font-family: 'Saira', sans-serif;
  margin: 0;
  padding: 0;
}

body {
min-height: 100vh;
background: #1A1A1A;
background: radial-gradient(at center, #1A1A1A, #010101);  overflow-x: hidden;
}
